* {
	box-sizing: border-box;
}
html{
	font-family: system-ui,-apple-system,BlinkMacSystemFont,Microsoft YaHei UI,Microsoft YaHei,Roboto,Hiragino Sans GB,Source Han Sans CN,Fira Sans,Droid Sans,Helvetica Neue,arial,sans-serif;
    font-size: 14px;
}
body, ul, p, h1, h2, h3, h4, dl, dd, form, input, textarea, select {
    padding: 0;
    margin: 0;
}

li {list-style:none;}
img, input, button {border:none;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}

@font-face {
  font-family: 'icomoon';
  src:  url('./resource/fonts/icomoon.eot?2wvsg3');
  src:  url('./resource/fonts/icomoon.eot?2wvsg3#iefix') format('embedded-opentype'),
    url('./resource/fonts/icomoon.ttf?2wvsg3') format('truetype'),
    url('./resource/fonts/icomoon.woff?2wvsg3') format('woff'),
    url('./resource/fonts/icomoon.svg?2wvsg3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\E911";
}
.icon-film:before {
  content: "\E913";
}
.icon-book:before {
  content: "\E91F";
}
.icon-search:before {
  content: "\E986";
  color: #c0c0c0;
  margin-left: 5px;
}
.icon-arrow-down2:before {
  content: "\EA3E";
}




/* common style */
.grey { color: #f0f0f0; }

.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-bottom-5 { margin-bottom: 5px; }

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.text-indend-2 {
	text-indent: 2rem;
}

.arrow {
  width: 10px;
  height: 10px;
  transition: transform 0.4s ease;
}

.arrow_up {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}


/* response design style*/
@media screen and (max-device-height: 600px) {
	html {
		font-size: 12px;
	}
}
.search-container {
  z-index: 100;
  padding: 5px 10px;
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 10vh;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-container button {
  width: 20%;
  height: 90%;
  background-color: #0099ff;
  font-size: 1.43rem;
  color: #ffffff;
}

.search-input {
  flex: 1;
  height: 90%;
  border: 1px solid #f0f0f0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input input {
	flex: 1;
  height: 80%;
  outline: none;
  padding-left: 5px;
  font-size: 1.14rem;
}

.content-container {
    padding: 5px 10px;
    margin-top: 10vh;
    height: 90vh;
    overflow: auto;
}

#topLoading {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
}

#bottomLoading {
    height: 8vh;
    text-align: center;
    line-height: 8vh;
}
.content-item {
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
	padding: 10px;
	display: flex;
}

.content-item-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-item-img img {
	width: 25vw;
}

.content-item-list {
	margin-left: 10px;
	width: 60vw;
}

.content-item-list li {
	margin-top: 5px;
}

.content-item-list-bookTag {
	background-color: #ffcc00;
	margin-right: 5px;
	padding: 2px;
	color: #ffffff;
}

.content-item-list-filmTitle {
	font-size: 1.2rem;
	font-weight: bold;
}

.content-item-list-filmGenre {
	background-color: #ff3300;
	margin-right: 5px;
	padding: 2px;
	color: #ffffff;
}

.content-item-list-filmCast {
	font-size: 0.86rem;
	font-weight: 500;
	color: #c0c0c0;
	margin-right: 5px;
	padding: 2px;
}.nav-container {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 10vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-tab-text {
  margin-top: 5px;
}

.nav-tab_active {
  color: #0099ff;
}
.detailHeader-container {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 8vh;
	background-color: #0099ff;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detailHeader-title {
	font-size: 1.2rem;
	max-width: 70vw;
}

.detailHeader-back {
	font-size: 1rem;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.detailHeader-back::before {
	content: " ";
	display: inline-block;
	margin-right: 2px;
	height: 6px;
	width: 6px;
	border-width: 0 0 2px 2px;
	border-color: #ffffff;
	border-style: solid;
	-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.detailContent-container {
	padding: 5px 10px;
	margin-top: 8vh;
	height: 92vh;
	overflow: scroll;
}.detailContent-book-basic {
	display: flex;
	border-width: 0 0 2px 0;
	border-color: #f0f0f0;
	border-style: solid;
	padding-bottom: 5px;
}

.detailContent-book-img {
	max-width: 30%;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: start;
}
.detailContent-book-img img {
	width: 100%;
}

.detailContent-book-list {
	max-width: 70%;
}

.detailContent-book-list-tag {
	display: inline-block;
	background-color: #ffcc00;
	margin-right: 5px;
	margin-top: 2px;
	padding: 2px;
	color: #ffffff;
}.detailContent-film-img {
	text-align: center;
	border-width: 0 0 2px 0;
	border-color: #f0f0f0;
	border-style: solid;
	padding-bottom: 5px;
}

.detailContent-film-genre {
	background-color: #ff3300;
	margin-right: 5px;
	padding: 2px;
	color: #ffffff;
}

.detailContent-film-casts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	align-content: center;
}

.detailContent-film-cast {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: start;
	width: 30%;
}

.detailContent-film-cast img {
	width: 80%;
	border-radius: 50%;
}.detailContent-music-basic {
	display: flex;
	border-width: 0 0 2px 0;
	border-color: #f0f0f0;
	border-style: solid;
	padding-bottom: 5px;
}

.detailContent-music-img {
	width: 30%;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: start;
}
.detailContent-music-img img {
	width: 100%;
}

.detailContent-music-list {
	width: 70%;
}

.detailContent-music-list-tag {
	display: inline-block;
	background-color: #ffcc00;
	margin-right: 5px;
	margin-top: 2px;
	padding: 2px;
	color: #ffffff;
}.toast-container {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
	padding: 10px 20px;
	border-radius: 20px;
}.loader-container {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.loader-dot {
  width: 18px;
  height: 18px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.loader-dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.loader-dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.loader-dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.loader-dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.loader-dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map*/